/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #111;
}
body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  text-align: left;
  font: 16px Helvetica, Arial, sans-serif;
}

.container {
  width: inherit;
}

a:hover {
  text-decoration: none;
}

/* Wrapper for page content to push down footer */
.wrap {
  max-width: 980px;
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

  padding-left: 0px;
  padding-right: 0px;
}

#art-index > .row {
  margin-left: 0px;
  margin-right: 0px;
}

/*
 * Header
 */

 .navbar {
  margin-bottom: 0;
  padding-bottom: .5em;
 }

.head-nav > li {
  display: inline-block;
}
.head-nav > li + li {
  margin-left: 20px;
}
.head-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}
.head-nav > li > a:hover,
.head-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.head-nav > .active > a,
.head-nav > .active > a:hover,
.head-nav > .active > a:focus {
  color: #fff;
}

.nav > li > a {
padding: 0px;
}

#art-index > div.row > .col-md-4, #art-index > div.row > .col-sm-6, #art-galleries > div.row > .col-sm-4 {
padding-right: 0px; /* override default */
padding-left: 0px; /* override default */
max-width: 480px;
max-height: 270px;
}

/* center button */
.vertical-container {
  display: table;
  width: 100%;
}
.vertical {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

#art-cv {
  padding-bottom: 4em;
  color: #111;
  background-color: #fff;
  text-align: left;
  text-shadow: none;
}

#art-cv p {
  margin: 0;
}

#homeImage:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* images on works page */
a > img.img-responsive:hover {
  opacity: .4;
  filter: alpha(opacity=40);
}

/* contact form spam honeypot */
.robotic {
  display: none;
}

#contact-alert {
  text-shadow: none;
  font-weight: bold;
}

/* carousel image styles */
.item {
  height: 500px !important;
}

#art-index .img-responsive {
  margin: 0;
  padding: 8px;
}

.thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  margin: auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control {
  top: 40%;
  font-size: 70px;
}

.carousel-inner {
  margin-bottom: 10px;
}

/* thumbnail styles */
.list-inline li {
  height: 100px;
  width: 100px;
}
li a img {
  border: 2px solid #FFFFFF;
  margin-bottom: 4px;
}
.selected img {
  opacity:0.5;
}

/* caption */
.new-caption-area {
  font-size: .85em;
  text-align: center;
  margin-bottom: 20px;
}
span.image-title {
  font-style: italic;
}

/* nav dropdown styling */
.dropdown-menu a {
  text-shadow: none;
}
.dropdown-menu {
  background-color: #111;
}
.open > .dropdown-menu {
  display: inline-flex;
}
.dropdown-menu>li>a {
  color: #FFF;
}
.dropdown-menu>li>a:hover {
  color: #FFF;
  background-color: #666;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
 background-color: #111;
 border-color: inherit; 
}

/*
 * Footer
 */

.foot {
  height: 60px;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/* Custom glyphicon color */
i.form-control-feedback {
  color: #111;
}

/* Glyphicons inside input aligned left from Stackoverflow
 * http://stackoverflow.com/a/18839305
 */
.has-feedback .form-control {
  padding-right: 34px;
}
.has-feedback .form-control.input-sm,
.has-feedback.form-group-sm .form-control {
  padding-right: 30px;
}
.has-feedback .form-control.input-lg,
.has-feedback.form-group-lg .form-control {
  padding-right: 46px;
}
.has-feedback-left .form-control {
  padding-right: 12px;
  padding-left: 34px;
}
.has-feedback-left .form-control.input-sm,
.has-feedback-left.form-group-sm .form-control {
  padding-left: 30px;
}
.has-feedback-left .form-control.input-lg,
.has-feedback-left.form-group-lg .form-control {
  padding-left: 46px;
}
.has-feedback-left .form-control-feedback {
  left: 0;
}
.form-control-feedback {
  line-height: 34px !important;
}
.input-sm + .form-control-feedback,
.form-horizontal .form-group-sm .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
}
.input-lg + .form-control-feedback,
.form-horizontal .form-group-lg .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px !important;
}
.has-feedback label.sr-only ~ .form-control-feedback,
.has-feedback label.sr-only ~ div .form-control-feedback {
  top: 0;
}

@media (min-width: 768px) {
  .form-inline .inline-feedback {
    position: relative;
    display: inline-block;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.form-horizontal .has-feedback-left .form-control-feedback {
  left: 15px;
}

.navbar-inverse {
 background-color: #111;
 border: none; 
}